---
const props = Astro.props.project;
---

<article
  id={`project-${props.id}`}
  class="text-white grid mt-5 w-full px-5 grid-rows-2 scroll-m-24 mb-10"
>
  <div class="col-span-2 grid js-show-on-scroll">
    <div class="justify-self-center sm:justify-self-end md:w-1/2 mb-10">
      <h2 class="border w-72 text-center h-min rounded text-3xl m-auto mb-3">
        {props.name}
      </h2><h3
        class="w-auto text-center h-min rounded text-xs font-mono italic"
      >
        <span class="not-italic text-violet-300">
          {
            props.location.ref ? (
              <a href={props.location.ref} target="_blank">
                {props.location.name}
              </a>
            ) : (
              <a href="#">{props.location.name}</a>
            )
          }
        </span> |
        {props.techTitles}
      </h3>
    </div>
    <div
      class="flex lg:gap-x-[25%] gap-x-5 flex-wrap md:flex-nowrap row-span-2 md:row-span-1 px-[5%] justify-center js-show-on-scroll"
    >
      <img
        src={props.image}
        alt="Project Home Page Screenshot"
        class="h-52 w-full object-contain"
        loading="lazy"
      />

      <p class="py-5">
        {props.introText}{
          props.id === 2 && (
            <>
              <a
                href="https://www.lamborghini.com/en-en/3d"
                target="_blank"
                class="ml-2 text-violet-300"
              >
                Lamborghini
              </a>
              ,
              <a
                href="https://eyes.nasa.gov/apps/solar-system/#/home"
                class="ml-2 text-violet-300"
                target="_blank"
              >
                NASA
              </a>
            </>
          )
        }
      </p>
    </div>
  </div>
  <div class="mt-10 grid col-span-2 js-show-on-scroll">
    <h2
      class="text-3xl border rounded w-72 text-center justify-self-center h-max"
    >
      {props.learned[0].title}
    </h2>
    <div class="grid md:grid-cols-2 w-full gap-[10%] place-items-center">
      <p class="md:-mr-10">{props.learned[0].content}</p>
      <video
        autoplay
        muted
        loop
        playsinline="video/webm"
        class="rounded-md h-52"
      >
        <source src={props.learned[0].video} type="video/webm" />
        <source src={props.learned[0].videoApple} type="video/mp4" />
      </video>
    </div>
  </div>
  <div class="w-full col-span-2 text-center">
    <a
      href={props.github}
      class="hover:text-gray-600 p-2 text-violet-400"
      target="_blank">View Github</a
    >
  </div>
</article>
