---
import Navbar from "../../components/Navbar";
import Footer from "../../components/Footer.astro";
import { motion } from "framer-motion";
import * as data from "../../data/projectdata.json";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jed Borseth - Projects</title>
  </head>
  <body class="bg-neutral-900">
    <header><Navbar client:load /></header>
    <main class="text-white font-mono min-h-screen">
      <motion.div
        animate={{ y: 100, opacity: 1 }}
        client:load
        initial={{ y: -500, opacity: 0 }}
      >
        <div
          class="flex items-center justify-center group flex-wrap lg:flex-nowrap gap-10 md:gap-0 mb-48 md:mb-0"
        >
          <motion.div whileHover={{ scale: 1.15, zIndex: 20 }} client:idle
            ><a
              href={data.project1.live}
              class="relative text-gray-500 transition-colors group-hover:text-violet-400"
              >&#91;Live Site&#93;
            </a>
            <a href={`./projects/${data.project1.slug}`}>
              <img src={data.project1.image} alt="Project Img" width="350px" />
            </a>
          </motion.div>
          <motion.div whileHover={{ scale: 1.15, zIndex: 20 }} client:idle
            ><a
              href={data.project2.live}
              class="relative text-gray-500 transition-colors group-hover:text-violet-400"
              >&#91;Live Site&#93;
            </a>
            <a href={`./projects/${data.project2.slug}`}>
              <img src={data.project2.image} alt="Project Img" width="350px" />
            </a>
          </motion.div>
          <motion.div whileHover={{ scale: 1.15, zIndex: 20 }} client:idle
            ><a
              href={data.project3.live}
              class="relative text-gray-500 transition-colors group-hover:text-violet-400"
              >&#91;Live Site&#93;
            </a>
            <a href={`./projects/${data.project3.slug}`}>
              <img src={data.project3.image} alt="Project Img" width="350px" />
            </a>
          </motion.div>
          <motion.div whileHover={{ scale: 1.15, zIndex: 20 }} client:idle
            ><a
              href={data.project4.live}
              class="relative text-gray-500 transition-colors group-hover:text-violet-400"
              >&#91;Live Site&#93;
            </a>
            <a href={`./projects/${data.project4.slug}`}>
              <img src={data.project4.image} alt="Project Img" width="350px" />
            </a>
          </motion.div>
          <motion.div whileHover={{ scale: 1.15, zIndex: 20 }} client:idle
            ><a
              href={data.project5.live}
              class="relative text-gray-500 transition-colors group-hover:text-violet-400"
            >
              &#91;Live Site&#93;
            </a>
            <a href={`./projects/${data.project5.slug}`} class="">
              <img src={data.project5.image} alt="Project Img" width="350px" />
            </a>
          </motion.div>
        </div>
      </motion.div>
    </main>
    <Footer />
  </body>
</html>
